@for $i from 1 through 9 {

    //#{} 數值轉字串
    .box-#{$i} {
        width: $i * 1px;
    }
}

//grids
@mixin grids($num) {
    @for $i from 1 through $num {
        .col-md-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}


//字體

/*字體*/
@each $tag,
$val in $tagSize {

    //h1 h2 h3  
    #{$tag} {
        font-size: $val;
    }
}


//each mixin 圖片
@mixin bg-image($images) {
    @each $img in $images {
        .#{$img}_bg {
            background-image: url('./images/#{$img}.png');
            display: block;
            width: 80%;
            @content; //擴增屬性到內部

            // &:hover {


            // }
        }
    }
}


// image (判斷 png/jpg)
@mixin bg-images($file, $images) {
    @if $file==png {
        @each $img in $images {
            .#{$img}_bg-image {
                background-image: url('./images/#{$img}.png');
                display: block;
                width: 80%;
            }
        }
    }

    @else if $file==jpg {
        @each $img in $images {
            .#{$img}_bg {
                background-image: url('./images/#{$img}.jpg');
                display: block;
                width: 80%;
            }
        }

    }
}

//前綴
@mixin css3($property, $value) {

    @each $prefix in '',
    -o-,
    -webkit-,
    -moz- {
        #{$prefix}#{$property}: $value;

    }
}

div {
    @include css3(transition, width 2s)
}





$rwd : (
   desktop :1200px,
   medium : 767px,
   small : 450px
); //map


@mixin rwd-each($breakpoint) {
  @each $viewpoint,$num in $rwd {
        @if $breakpoint == $viewpoint {
            @media all and (min-width : $num) {
                @content;
            }
        }
    }
}

// @include rwd-each(desktop){
//     .box {
//         content: 'desktop';
//     }
// }
// @include rwd-each(medium){
//     .box {
//         content: 'medium';
//     }
// }
// @include rwd-each(small){
//     .box {
//         content: 'small';
//     }
// }

//grids
@mixin grid-box($breakpoint ,$num) {
    @for $i from 1 through $num {
        .col-#{$breakpoint}-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}



@include rwd-each(desktop){
    @include grid-box(lg, 12);
}

@include rwd-each(medium){
    @include grid-box(md, 12);
}

@include rwd-each(small){
    @include grid-box(sm, 12);
}














