@for $i from 1 through 9 {

    //#{} 數值轉字串
    .box-#{$i} {
        width: $i * 1px;
    }
}
//grids
@mixin grids($num) {
    @for $i from 1 through $num {
        .col-md-#{$i} {
            width: ($i / $num) * 100%;
            margin: 0 10px;
            background-color: #999;
        }
    }
}


//字體

/*字體*/
@each $tag,
$val in $tagSize {

    //h1 h2 h3  
    #{$tag} {
        font-size: $val;
    }
}


//each mixin 圖片
@mixin bg-image($images) {
    @each $img in $images {
        .#{$img}_bg {
            background-image: url('./images/#{$img}.png');
            display: block;
            width: 80%;
            @content; //擴增屬性到內部

            // &:hover {


            // }
        }
    }
}


// image (判斷 png/jpg)
@mixin bg-images($file, $images) {
    @if $file == png {
        @each $img in $images {
            .#{$img}_bg-image {
                background-image: url('./images/#{$img}.png');
                display: block;
                width: 80%;
            }
        }
    }
    @else if $file == jpg {
        @each $img in $images {
            .#{$img}_bg {
                background-image: url('./images/#{$img}.jpg');
                display: block;
                width: 80%;
            }
        }
        
    }
}



