$a: 10px; //數字
$red: #f20; // 顏色
$margin : 10px 20px 10px 25px; // list
$font_family : Helvetica,
Arial,
sans-serif; // 字串
$fontbase : 16px;
$null : null; // null
$bg-color : ('blue' : #0485ff,
    'red' : #ff1100,
    'yellow' : #fffb00); // map 

$desktop : 1100px;
$medium : 920px;
$small: 721px;

$tagSize : (h1 : 40px,
    h2 : 35px,
    h3 : 28px,
    h4: 20px,
    h5: 16px);