@import 'layout/nav';

body {
    background-color: rgb(255, 94, 0);
    $bgc :#7e0101  ;
    .box {
        width: 150px;
        height: 120px;
        background-color: $bgc;
        position: relative;
        top: 100px
    }
}

