//font 變數
$fontFamily : 'Open Sans', sans-serif ;
$fontSize : 16px;
$color : rgb(255, 255, 255);
$lineH :1.5 ;
$fontWeight: 400;
$letterSpace : 1px;


//rwd 斷點
$desktop : 1100px;
$medium : 920px;
$small: 721px;

//顏色變數
$btn-color: (
  primary : #999
); 

$bgColor : rgb(255, 1, 1);






