/*style1*/
body {
  margin: 0;
  padding: 0; }
  body h1 {
    font-size: 40px; }
  body span {
    font-size: 30px; }

/*style2*/
body {
  margin: 0;
  padding: 0; }
  body h2 {
    font-size: 200px; }

/*style3*/
.wrapper h1 {
  font-size: 36px;
  letter-spacing: 1px; }

.wrapper h2 {
  font-size: 30px; }
